.traze-button {
    font-size: larger;
    background-color: black;
    color: #44cef3;
    font-style: oblique;
    margin-top: 5px;
}

.extra-margin{
    margin-left: 35px;
}

h2 {
    color: #44cef3;
    font-style: oblique;
}

.h3{
    color: #44cef3;
    font-style: oblique;
    font-size: 40px;
    width: 744px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    min-height: 800px;
}

.spielerinfo {
    font-style: oblique;
    width: 300px;
    /*right: 15px;*/
    /*top: 125px;*/
}

.myPlayer{
    margin-right: 100px;
}
.gridinfo{
    margin-right: 200px;
}

.feld1{
    background-color: black;
    font-style: oblique;
    color: #44cef3;
}
.feld2{
    background-color: azure;
}
.feld3{

}

.background{
    background-color: black;
    border-color: #44cef3;
    border-style: solid;
    border-width: 1px;
}
.tabelle{
    color: #44cef3;
}

.textbox{
    color: #44cef3;
}



#Spielfeld > div {
    display: flex;
    border-width: 1px;
    }

#Spielfeld > div > span{
    background: white;
    border-color: #44cef3;
    width: 8px;
    height: 8px;
    margin: 1px;
    display: block;
    border-style: solid;
    border-width: 1px;
}

#Spielfeld{
    transform: scaleX(-1);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Steuerknöpfe{
    background-color: black;
    width: 300px;
}

.menu-buttons {
    margin: 10px;
    width: 300px;
}

.eingabeFeld {
    margin: 10px;
    width: 300px;
}

.eingabeFeld > input {
    margin-top: 5px;
}

@keyframes blink {
    0% {opacity: 0}
    33%{opacity: 0.5}
    66% {opacity: 1}
    33%{opacity: 0.5}
    0% {opacity: 0}
}

.blink {
    animation: blink 0.75s infinite;
    background: black;
}

.steer-button {

}

.deaktiviert{

}